{{> navbar}}

<div class="container">

    <div class="profile">

        <div class="avatar-profile">

            
                <img width="280" height="280" class="border border-dark  border-2 rounded-circle p-1 rounded-circle  img-avatar" src="{{user.avatar}}" alt=""
                    referrerpolicy="no-referrer">
                <div class="data-profile">
                <h3 class="h3-profile"> <strong> Hola </strong> {{user.username}} </h3>
                <h6 class="h3-profile"> <strong> Member since: </strong> {{dateFormat formattedCreatedAt "dd/mm/yyyy"}}</h6>
                   </div>

            </div>

        <div class="event-like">
            {{#if creatorRole}}
            <h2 class="h2-profile">My Creations <hr> </h2>
            {{else}}
            <h2 class="h2-profile">Populars events</h2>
            {{/if}}
            
            {{#if user.locals.length}}
                <div class="row card-profile-user" style="justify-content: center;">
                {{#each user.locals}}
                 <!-- Muestra el nombre del local -->
                 <div class="card-profile" style="width: 12rem;">
                    <img src={{this.image}} class="card-img-top card-img-profile" alt={{this.name}}>
                    <div class="card-body">
                        <h5 class="card-title"> <strong>{{this.name}} </strong> </h5>
                        <a href="/locals/{{this._id}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
                {{/each}}
                </div>
                {{else}}
                <p>you don't have locals created.</p>
            {{/if}}
            
        </div>
    </div>
</div>

<li>{{this.name}}</li>