{{> navbar}}

<div class="bg-list-locals">

<div class="container">

<h1 class="mt-4 h1-list">Locals</h1>

<div class="row">
  {{#each locals}}
  <div class="col-md-4 mb-4">
    <div class="card">
      
      <div class="card-image">
        <img src={{image}} class="card-img-top fixed-size-image " alt={{name}}>
      </div>
      <div class="title-list">
      <p class="p-title"> <strong> {{type}} || </strong> </p>
      <p class="card-title">{{name}}</p>
      
      </div>
      <h6 class="card-title"> Capacity: {{capacity}} persons </h6>
      <a href="/locals/{{this._id}}" class="btn btn-primary">Details</a>
      <p class="footer">Created by {{owner.username}} <span class="by-name"></span> </p>
      
    </div>
  </div>
  {{/each}}
</div>
</div>

</div>
