<script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.17/web.js"></script>
{{> navbar}}



<div class="container">
    <h1 class="h1-event-detail">Detalles</h1>
    <div class="box-event">
        <div class="img-detail-event">
        
        <div class="local-i">
            <img src="{{event.image}}" alt="{{event.name}}">
        </div>
        </div>
        <div class="date-detail">
            <h3 class="h3-detail"> {{event.name}} </h3>
            
            <div class="p-detail-2">
            <p> Date: <strong> {{dateFormat eventDate "dd/mm/yyyy"}} </strong></p>
            <p> Hour: <strong> {{event.eventTime}} hours </strong></p>
            <p> Price: <strong> {{event.cost}} € </strong></p>
            </div>
            <h2 class="c-dark-gray font-weight-semi mb-4 mt-4">Location </h2>
            <p> Address: <strong> {{event.address}} </strong></p>

        
            
            
            <div class="row" style="position: relative;width: 95%;margin-left: 20px;">
                <mapbox-address-minimap
                    satellite-toggle="true"
                    can-adjust-marker="true"
                    id="map"
                    location="{{event.location}}"
                >
                </mapbox-address-minimap>
            </div>
            <button type="button" class="btn mt-5 btn-details-2"> <a class="a-details-2" href="/events/{{event.id}}/edit">  Edit </a></button>
        </div>
    </div>

        <section class="description" style="margin-top: 35px;"> 
            <p> {{event.description}} </p>
        </section>
    
    
</div>







<script>
  const ACCESS_TOKEN = 'pk.eyJ1IjoiY2RlbGF0b3JyZSIsImEiOiJja3Y5bHJ6ZzcweG0yMnZtZzI4eXJna2UxIn0.m-OWQWPhRrb5ZNRz0M9AqQ';
  const minimap = document.querySelector('mapbox-address-minimap')
  const coordinates = minimap.getAttribute('location').split(',');
  const script = document.getElementById('search-js');

  script.onload = () => {
    minimap.accessToken = ACCESS_TOKEN;
   minimap.onSaveMarkerLocation = (coordinate) => { console.log(coordinate); }
    minimap.feature = {
      type: 'Feature',
     geometry: { type: 'Point', coordinates: coordinates },
      properties: {}
    };
  }
</script>