{{> navbar}}


<div class="container-event">
  <div class="container">
    <h1 class="h1-list-event">Events</h1>

    <div class="row align-items-stretch">
      {{#each events}}
        <div class="col-md-3 mb-4">
          <div class="post-card d-flex flex-column h-100">
            <a href="#" class="title2">{{name}}</a>
            <span class="datetime">{{dateFormat eventDate "dd/mm/yyyy"}}</span>
            <span class="datetime">{{eventTime}}</span>
            <div class="image-preview">
              <img class="fixed-size-image-2 h-100" src="{{image}}" alt="{{name}}" />
            </div>

            <button
              data-user="{{../currentUser._id}}"
              data-name="{{this.name}}"
              data-id="{{this._id}}"
              type="submit"
              class="btn btn-warning {{#userLikedEvent likes=../likes event=this}}btn-danger{{/userLikedEvent}} like-button"
            >
              <i class="fa fa-heart"></i>
            </button>
            <a href="/events/{{this._id}}" class="btn btn-primary">Details</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script>
  const likeButtons = document.querySelectorAll('.like-button');

  likeButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      const userId = btn.dataset.user;
      const eventId = btn.dataset.id;

      console.log(`http://localhost:3000/likes/${userId}/${eventId}`);
      axios
        .post(`http://localhost:3000/likes/${userId}/${eventId}`)
        .then(response => {
          if (response.data === 'DELETED') {
            btn.classList.remove('btn-danger');
            btn.classList.add('btn-warning');
          } else {
            btn.classList.remove('btn-warning');
            btn.classList.add('btn-danger');
          }
        })
        .catch(err => console.log(err));
    });
  });
</script>

<!-- <script>
  // Función para formatear la fecha
  function formatDate(dateString) {
    const date = new Date(dateString);
    const day = date.getDate();
    const month = date.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
    const year = date.getFullYear();
    
    // Asegurarse de que los días y meses tengan dos dígitos
    const formattedDay = day < 10 ? `0${day}` : day;
    const formattedMonth = month < 10 ? `0${month}` : month;
    
    return `${formattedDay}/${formattedMonth}/${year}`;
  }
</script>

-->